.app {
  margin-top: 64px;
  padding: 0 64px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.app__converter {
  width: 100%;
  min-width: 800px;
  max-width: 1200px;
}
